/*Adjusts the size of the icons in the modebars of the Plotly graphs*/
a.modebar-btn {
    font-size: 22px !important;
}

.general-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.general-select {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 250px;
}

.general-multiselect {
    text-align: center;
}

.general-number-input {
    text-align: center;
}

.general-checkbox {
    margin-top: 10px;
    margin-bottom: 15px;
}

.general-datatable {
    max-height: 300px;
    overflow-y: auto;
}
